<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/icons/home.png" />
  <link href="/static/css/output.css" rel="stylesheet">
  <script src="/static/htmx/htmx.js"></script>
  <title>Menu</title>
</head>

<body>
  <div class="min-h-screen bg-gray-950 flex items-center justify-center bg-cover bg-center bg-no-repeat"
    style="background-image: url('/static/icons/contacts.png')">
    <nav
      class="relative z-10 w-full max-w-4xl bg-linear-to-r from-gray-900 via-gray-800 to-gray-900 shadow-2xl rounded-2xl py-12 px-8 bg-opacity-90">
      <ul class="flex justify-center items-center space-x-16">
        <li class="group">
          <a href="/"
            class="flex flex-col items-center text-gray-300 hover:text-white transition-all duration-300 transform hover:scale-110">
            <img src="/static/icons/home.png" alt="Home" class="w-20 h-20 mb-4 group-hover:animate-bounce" />
            <span class="text-xl font-medium">Home</span>
          </a>
        </li>

        <li class="group">
          <a href="/contacts"
            class="flex flex-col items-center text-gray-300 hover:text-white transition-all duration-300 transform hover:scale-110">
            <img src="/static/icons/contacts.png" alt="Contacts" class="w-20 h-20 mb-4 group-hover:animate-bounce" />
            <span class="text-xl font-medium">Contacts</span>
          </a>
        </li>
        <li class="group">
          <a href="/services"
            class="flex flex-col items-center text-gray-300 hover:text-white transition-all duration-300 transform hover:scale-110">
            <img src="/static/icons/services.png" alt="Services" class="w-20 h-20 mb-4 group-hover:animate-bounce" />
            <span class="text-xl font-medium">Services</span>
          </a>
        </li>
        <li class="group">
          <a href="/about"
            class="flex flex-col items-center text-gray-300 hover:text-white transition-all duration-300 transform hover:scale-110">
            <img src="/static/icons/about.png" alt="About" class="w-20 h-20 mb-4 group-hover:animate-bounce" />
            <span class="text-xl font-medium">About</span>
          </a>
        </li>
        <li class="group">
          <a href="/logout"
            class="flex flex-col items-center text-gray-300 hover:text-white transition-all duration-300 transform hover:scale-110">
            <img src="/static/icons/logout.png" alt="Logout" class="w-20 h-20 mb-4 group-hover:animate-bounce" />
            <span class="text-xl font-medium">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>

</html>